{# -*- mode: jinja2; coding: utf-8; -*- #}
<!DOCTYPE html>
<html>
  <head>
    <!-- Time-stamp: "2025-06-20 11:00:34 krylon" -->
    <title>{% block title %}{{- title -}}{% endblock %}</title>

    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="/static/bootstrap-utilities.min.css" />

    <link rel="stylesheet" href="/static/style.css" />

    <script src="/static/jquery-3.7.1.min.js"></script>
    <script src="/static/bootstrap.bundle.min.js"></script>
    <script src="/static/underscore.js"></script>
    <script src="/static/chart.umd.min.js"></script>
    <script src="/static/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="/static/interact.js"></script>
    <script src="/static/settings.js"></script>
    <script>
     $(document).ready(() => {
       initSettings()
       beaconLoop()
     })
    </script>
  </head>

  <body>
    <div class="intro">
      {% block intro %}
      {% include "intro.jinja" %}
      {% endblock %}
    </div>

    <div class="menu">
      {% block menu %}
      {% include "menu.jinja" %}
      {% endblock %}
    </div>

    <div class="content">
      {% block content %}
        <table class="table horizontal">
          <tr>
            <th>Hosts</th>
            <td>{{ host_cnt }}</td>
          </tr>
          <tr>
            <th>Ports</th>
            <td>{{ port_cnt[0]}} (No response) / {{ port_cnt[1] }} (Not no response)</td>
          </tr>
          <tr>
            <th>XFR</th>
            <td>{{ xfr_cnt[0] }} (Unfinished) / {{ xfr_cnt[1] }} (Finished)</td>
          </tr>
        </table>
      {% endblock %}
    </div>
    
    {% block footer %}
    <hr />
    <div class="footer">
      &copy; 2025{%- if year > 2025 %} - {{ year }}{% endif %}
      Benjamin Walkenhorst
    </div>
    {% endblock %}
  </body>
</html>
